<footer class="m-grid__item		m-footer " style="text-align: center;margin-left: 255px">
    <ul class="m-footer__nav m-nav m-nav--inline m-stack__item--middle ">
 	<span class="m-nav__link-text">
											&copy; 2021 Qarabağ-Uğur 2020 MMC
										</span>
        <li class="m-nav__item">
<!--            <a href="https://www.linkedin.com/in/yusif-hajiyev/" target="_blank" class="m-nav__link">-->
<!--										<span class="m-nav__link-text">-->

<!--										</span>-->
<!--            </a>-->
        </li>

    </ul>
</footer>
