<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8" />
    <title>
        Qarabağ-Uğur 2020 MMC | Admin
    </title>
    <meta name="description" content="User profile example page">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="manifest" th:href="@{/img/favicon/manifest.json}">
<!--    <link rel="shortcut icon" type="image/svg" href="http://ambulance-admin-dev.ezgil.az/admin/img/ambulance.svg"/>-->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <script type="text/javascript" th:src="@{/js/sweetAlert.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script language="javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!---*** End: Bootstrap 3.3.7 version files. ***--->


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css">
    <script src="https://kit.fontawesome.com/17a7821e99.js"></script>

    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <script th:inline="javascript" type="text/javascript">
        var context = /*[[${#httpServletRequest.getContextPath()}]]*/ 0;
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <link th:href="@{/css/sweetalert.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/flaticon.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/line-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/line-awesome.css}">
    <link th:href="@{/css/style.bundle.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/vendors.bundle.css}" rel="stylesheet" type="text/css" />

    <script th:src="@{/js/language.js}" type="text/javascript"></script>
    <script th:src="@{/js/vendors.bundle.js}" type="text/javascript"></script>
    <script th:src="@{/js/scripts.bundle.js}" type="text/javascript"></script>
</head>








